#topicons
{
background-color: black;
height:60px;
width:100%;
margin-top:-10px;
top:0;
padding-top:7px;
}
#icons li
{
  float:left;
  display:inline;
  text-decoration: none;
  padding:7px;
  color:white;
}
#icons li :hover{
  color:red;
}
#ind li
{
  float:right;
  display:inline;
  text-decoration: none;
  padding:5px;
  color:white;
   padding-right:30px;
}
#ind li :hover
{
font-size:15px;
color:darkblue;
font-family:cursive;
}
#ind span
{
  color:orangered;
}
#ind 
{
  padding-right:20px;
}
#pagelinks{
  display:flex;
  justify-content: center;
  align-items: center;
 padding:30px 0px;
  background-color: #ffff;
  position:sticky;
  top:0;
} 
#pagelinks on hover{
  display:flex;
  justify-content: center;
  align-items: center;
 padding:30px 0px;
  background-color: orangered;
  position:sticky;
  top:0;
}
.nav{
  padding-right:30px;
  text-decoration:none;
  font-size: 15px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: black;
  font-weight: 600;
}
#pagelinks on scroll{
  height:50px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  position:sticky;
  top:0;
  font-size:10px;
  cursor:pointer;
} 
.nav on scroll{
  padding-right:30px;
  text-decoration:none;
  font-size:20px;
  letter-spacing:2px;
  font:uppercase;
  color:black;
  font-style:bold;
}
.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

/*#footer {
  background-image: url(../public/footerd.png);
  background-size:fixed;
  margin-top:300px;
  width: 100%;
  height:400px;
  background-repeat: no-repeat;
  
}*/

.image1{
  width: 100%;
}
#footerd
{
  display:flex;
}
.foot{
  width:20%;
}
